.array-bar-container{
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sorting-content-container{
    width: 100%;
    margin: 1em;
}

.sorting-content-container > button {
    margin: 1em;
}

.algorithm-select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s; 
    margin: 1em;
}

.range-controllers {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    font-weight: bold;
}